In [1]:
import pandas as pd

In [30]:
file_name='461980_22.53_-105.90_2004.csv'

In [31]:
meta=pd.read_csv('NREL data/'+file_name,nrows=1)

In [32]:
meta

,Source,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone,...,Cloud Type 11,Cloud Type 12,Fill Flag 0,Fill Flag 1,Fill Flag 2,Fill Flag 3,Fill Flag 4,Fill Flag 5,Surface Albedo Units,Version
0,NSRDB,461980,-,-,-,22.53,-105.9,0,0,-7,...,Dust,Smoke,NaN,Missing Image,Low Irradiance,Exceeds Clearsky,Missing CLoud Properties,Rayleigh Violation,NaN,4.0.1

In [33]:
data=pd.read_csv('NREL data/'+file_name,skiprows=[0,1])

In [37]:
for col in data.columns:
    print(col,data[col].dtype,data[col].unique()[:10])

Year int64 [2004]
Month int64 [ 1  2  3  4  5  6  7  8  9 10]
Day int64 [ 1  2  3  4  5  6  7  8  9 10]
Hour int64 [0 1 2 3 4 5 6 7 8 9]
Minute int64 [30]
Temperature float64 [23.2 22.9 22.7 22.6 22.5 22.4 22.3 22.2 23.8 24.7]
Clearsky DNI int64 [  0 358 629 757 821 859 865 852 775 670]
Clearsky GHI int64 [  0 105 301 483 620 697 706 647 519 347]
Clearsky DHI int64 [  0  50  82  98 106 105 104  97 100  86]
DNI int64 [  0 129 443 401 387 232 159 102   2   7]
DHI int64 [  0  16 175 184 225 271 312 293 292 134]
GHI int64 [  0  16 220 409 476 538 474 396 348 135]
Relative Humidity float64 [82.54 84.44 85.22 85.2  84.74 83.54 82.53 82.09 81.85 82.39]

In [ ]:
# Quitarle los minutos a la data
data=data[['Year', 'Month', 'Day', 'Hour', 'Temperature', 'Clearsky DNI',
       'Clearsky GHI', 'Clearsky DHI', 'DNI', 'DHI', 'GHI',
       'Relative Humidity']]

In [ ]:
# normalize data 
for col in data.columns:
    #Normalizacion (datos invariantes permanecen invariantes) (va a marcar 0)
    data[col]=(data[col]-data[col].mean())/max(data[col].std(),1)
    # print(col,data[col].std())

C:\Users\fgonzalez\AppData\Local\Temp\ipykernel_24352\4232603360.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col]=(data[col]-data[col].mean())/max(data[col].std(),1)

In [21]:
data['Year'].std()

0.0

In [28]:
data['Year']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8755    0.0
8756    0.0
8757    0.0
8758    0.0
8759    0.0
Name: Year, Length: 8760, dtype: float64

In [29]:
len(data)

8760